body{
    /* background-color: black; */
    font-family: sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    margin-top: 20px;
}

.card-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    color: white;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    border-radius: 35px; 
    position: relative;
    background-color: rgb(31, 31, 34);
}
.background{
    position: absolute;
    top: -50px;
    right: -50px;
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 1s ease;
}


.card-item:hover, .card-item:hover span{
     color: black;
}

.card-item:nth-child(1) .background{
    background-color: yellow;
}
.card-item:nth-child(2) .background{
    background-color: green;
}
.card-item:nth-child(3) .background{
    background-color: red;
}
.card-item:nth-child(4) .background{
    background-color: pink;
}
.card-item:nth-child(5) .background{
    background-color: purple;
}
.card-item:nth-child(6) .background{
    background-color: blue;
}
.card-item:nth-child(7) .background{
    background-color: yellow;
}
.card-item:nth-child(8) .background{
    background-color: pink;
}
.card-item:nth-child(9) .background{
    background-color: red;
}

.card-item:hover .background{
    transform: scale(10);
    z-index: 0;
}
.card-item:hover h4{
    z-index: 1;
}

h4{
    z-index: 1;
    transition: all 1s ease;

}
span{
    color: yellow;
    transition: all 1s ease;

}
@media screen and (max-width:768px) {
    .card-item{
        width: 100%;
        margin-bottom: 20px;
    }
}   